<div data-aos="fade-down" class="col-md-4 col-xs-12 mb-3">
  <h3 class="text-dark text-center">KidsLife Sunday School</h3>
  <h4 class="text-center">(Ages 0 - 5th grade)</h4>
  <p><strong>Preschool – 5th Grade</strong>
    Kids gather in Room 262 for worship, games, and a Bible story. Afterward, we
    split into age-based groups in Room 261 for lessons, crafts, and activities
    designed just for them. It’s a meaningful time to explore God’s Word in
    developmentally appropriate ways.
    <strong>
      9:30 am – 10:30 am | Upper Level
    </strong>
  </p>

  <p>
    <strong>Tinytown</strong>
    (Ages 0 – 4) Our youngest children receive loving care in the Childcare
    Room. Tinytown provides a safe and nurturing setting where kids enjoy songs,
    Bible stories, and playtime during the 9:30 am service.
    <strong>

      9:30 am – 10:30 am | Lower Level
    </strong>
  </p>
</div>
<div data-aos="fade-down" class="col-md-4 col-xs-12 mb-3">
  <h3 class="text-dark text-center">MSM</h3>
  <h4 class="text-center">(Middle School)</h4>
  <p>MSM (Middle School Ministries) is a community committed to loving Jesus and
    sharing the love of Jesus with middle school students. Our Sunday morning
    service joins alongside our high school students involves time to socialize
    with peers, play interactive games, and receive scripture-based age-targeted
    teaching. We meet from 9:30 am - 10:30 am upstairs in the Highway room.</p>
</div>
<div data-aos="fade-down" class="col-md-4 col-xs-12 mb-3">
  <h3 class="text-dark text-center">Highway</h3>
  <h4 class="text-center">(High School)</h4>
  <p>The Highway is an exciting and dynamic group of High School students
    growing in Christ together. Our students meet in the high school room on
    Sunday from 9:30 am - 10:30 am for a time of discipleship, community, and
    biblical teaching. Both MSM and Highway offer multiple retreats and mission
    trips throughout the year.</p>
</div>