<div data-aos="fade-down" class="col-md-4 col-xs-12 mb-3">
  <h3 class="text-dark text-center">NextWave Sunday School</h3>
  <h4 class="text-center">(PreK(3yrs) - 5th grade)</h4>
  <p>NextWave Sunday school classes are COVID friendly in our newly renovated children's wing lower level rooms. Learn about Jesus and his love for us through hearing
    bible stories, memorizing scripture, singing, games, and craft. 9:30 am -
    10:30 am Sunday mornings.
  </p>
</div>
<div data-aos="fade-down" class="col-md-4 col-xs-12 mb-3">
  <h3 class="text-dark text-center">MSM</h3>
  <h4 class="text-center">(Middle School)</h4>
  <p>MSM (Middle School Ministries) is a community committed to loving Jesus and
    sharing the love of Jesus with middle school students. Our Sunday morning
    service joins alongside our high school students involves time to socialize
    with peers, play interactive games, and receive scripture-based age-targeted
    teaching. We meet from 9:30 am - 10:30 am upstairs in the Highway room.</p>
</div>
<div data-aos="fade-down" class="col-md-4 col-xs-12 mb-3">
  <h3 class="text-dark text-center">Highway</h3>
  <h4 class="text-center">(High School)</h4>
  <p>The Highway is an exciting and dynamic group of High School students
    growing in Christ together. Our students meet in the high school room on
    Sunday from 9:30 am - 10:30 am for a time of discipleship, community, and
    biblical teaching. Both MSM and Highway offer multiple retreats and mission
    trips throughout the year.</p>
</div>