<!-- Home -->

<div class="home">
	<div class="home_background" style="background-image:url(images/events.jpg)"></div>
	<div class="home_content">
		<div class="container">
			<div class="row">
				<div class="col d-flex flex-row align-items-center justify-content-start">
					<div class="home_title">About</div>
					<div class="breadcrumbs ml-auto">
						<ul>
							<li><a href="/home">Home</a></li>
							<li>About</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- About -->

<div class="about">
	<div class="container">
		<div class="row">
			<div class="col">
				<div class="section_title_container text-center">
					<div class="section_title">welcome to our church</div>
					<div class="section_subtitle">It's the start of an amazing journey of faith</div>
				</div>
			</div>
		</div>
		<div class="row about_row" style="align-items: center">
			<div class="col-lg-6">
				<div class="about_image"><img src="images/about.jpg" alt=""></div>
			</div>
			<div class="col-lg-6">
				<div class="about_content">
					<div class="about_text">
						<p>RB Community is a church located in north San Diego within the beautiful suburbs of Rancho
							Bernardo. We draw our faith family from surrounding neighborhoods of Poway, Del Sur,
							Escondido, 4S Ranch and PQ. With a 50 year legacy of generosity to our neighbors, we
							continue to embrace Biblical principles and compassionate service in the name of Jesus.</p>
					</div>
					<div class="button about_button"><a href="/blog_single:3JEwFofQhW3MQcReiGLCYu">read story</a></div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Mission -->

<div class="mission">
	<div class="mission_background parallax-window" data-parallax="scroll" data-image-src="images/mission.jpg"
		data-speed="0.8"></div>
	<div class="mission_items d-flex flex-row flex-wrap align-items-start justify-content-start">

		<div class="mission_item text-center">
			<div class="mission_icon"><i class="fa fa-crosshairs" aria-hidden="true"></i></div>
			<div class="mission_title">our community</div>
			<div class="mission_text">RB Community Church cares about one thing more than anything else, Jesus.
				RB Community Church is a family of individuals who find hope in Jesus, and want as many people
				as posible to experience that same freedom.</div>
		</div>

		<div class="mission_item text-center">
			<div class="mission_icon"><i class="fa fa-book" aria-hidden="true"></i></div>
			<div class="mission_title">our story</div>
			<div class="mission_text">RB Community Church began in 1964</div>
		</div>

		<div class="mission_item text-center">
			<div class="mission_icon"><i class="fas fa-sun" aria-hidden="true"></i></div>
			<div class="mission_title">our future</div>
			<div class="mission_text">More than ever RB Community Church is committed </div>
		</div>

		<div class="mission_item text-center">
			<div class="mission_icon"><i class="fa fa-user" aria-hidden="true"></i></div>
			<div class="mission_title">you</div>
			<div class="mission_text">Wherever you're at in your faith journey, you'll always be accepted as part of
				the RB Community family. We're saving a seat for you.
			</div>
		</div>

	</div>
</div>

<!-- Team -->

{{!-- <div class="team">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="section_title_container text-center">
							<div class="section_title">our team</div>
							<div class="section_subtitle">It’s leader of a Christian congregation</div>
						</div>
					</div>
				</div>
				<div class="row team_row">

					<!-- Team Item -->
					<div class="col-lg-4 team_col">
						<div class="team_item">
							<div class="team_image">
								<img src="images/team_1.jpg" alt="">
								<div
									class="team_overlay d-flex flex-column align-items-center justify-content-end text-center trans_200">
									<div class="team_overlay_text">
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut a sollicitudin
											arcu. Nullam sagittis ipsum aliquet gravida mattis.</p>
									</div>
									<div class="team_overlay_contact">
										<ul>
											<li>
												<i class="fa fa-envelope" aria-hidden="true"></i>
												<div> : infodeercreative@gmail.com</div>
											</li>
											<li>
												<i class="fa fa-phone" aria-hidden="true"></i>
												<div>: +1234 800 8080</div>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="team_content text-center">
								<div class="team_name">lena landrut</div>
								<div class="team_title">Volunteer</div>
							</div>
						</div>
					</div>

					<!-- Team Item -->
					<div class="col-lg-4 team_col">
						<div class="team_item">
							<div class="team_image">
								<img src="images/team_2.jpg" alt="">
								<div
									class="team_overlay d-flex flex-column align-items-center justify-content-end text-center trans_200">
									<div class="team_overlay_text">
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut a sollicitudin
											arcu. Nullam sagittis ipsum aliquet gravida mattis.</p>
									</div>
									<div class="team_overlay_contact">
										<ul>
											<li>
												<i class="fa fa-envelope" aria-hidden="true"></i>
												<div> : infodeercreative@gmail.com</div>
											</li>
											<li>
												<i class="fa fa-phone" aria-hidden="true"></i>
												<div>: +1234 800 8080</div>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="team_content text-center">
								<div class="team_name">Josh Brighton</div>
								<div class="team_title">Lead Pastor</div>
							</div>
						</div>
					</div>

					<!-- Team Item -->
					<div class="col-lg-4 team_col">
						<div class="team_item">
							<div class="team_image">
								<img src="images/team_3.jpg" alt="">
								<div
									class="team_overlay d-flex flex-column align-items-center justify-content-end text-center trans_200">
									<div class="team_overlay_text">
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut a sollicitudin
											arcu. Nullam sagittis ipsum aliquet gravida mattis.</p>
									</div>
									<div class="team_overlay_contact">
										<ul>
											<li>
												<i class="fa fa-envelope" aria-hidden="true"></i>
												<div> : infodeercreative@gmail.com</div>
											</li>
											<li>
												<i class="fa fa-phone" aria-hidden="true"></i>
												<div>: +1234 800 8080</div>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="team_content text-center">
								<div class="team_name">arnold pascal</div>
								<div class="team_title">Pastor</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div> --}}

<!-- Quote -->

<div class="quote">
	<div class="container">
		<div class="row">
			<div class="col">
				<div class="quote_container text-center">
					<div class="quote_quote">“Our guiding vision comes from the words of Jesus. ‘From the believers will
						flow living waters.’ - John 7:38”</div>
					<div class="quote_icon"><img src="images/quote_2.png" alt=""></div>
					{{!-- <div class="quote_source">Ignatius of Antioch</div> --}}
				</div>
			</div>
		</div>
	</div>
</div>

<script src="/js/jquery-3.2.1.min.js"></script>
<script src="js/about.js"></script>