<div class="top">
    <div class="xmasContainer maintainMaxWidth">

        <div class="title">Christmas at RB Community Church</div>
    </div>
</div>
<div class="adventEvents">
    <div class="maintainMaxWidth">
        <div class="sectionHeading">
            Advent Events
        </div>
        <div class="cardWrapper">
            <div class="card">
                <div class="card__side">
                    <div class="card__picture card__picture--1"></div>
                    <div class="card__heading">Christmas Concert: Reveal</div>
                    <div class="card__details">
                        <p>The RB Community Church music and arts ministry leads a celebration of Christ’s birth through
                            reflective Advent anthems and festive Christmas carols. The concert features Vivaldi’s
                            masterwork, “Gloria.”</p>
                    </div>
                </div>
                <div class="card__side"></div>
            </div>
            <div class="card">
                <div class="card__side">
                    <div class="card__picture card__picture--2"></div>
                    <div class="card__heading">Breakfast In Bethlehem</div>
                    <div class="card__details">
                        <p>Interactive drama, breakfast and crafts. Please RSVP to Joyce Schroeder at joyce@rbcpc.org.
                            Tickets are $20 for adults, $10 for children, under 2 are free.</p>
                    </div>
                </div>
                <div class="card__side"></div>
            </div>
            <div class="card">
                <div class="card__side">
                    <div class="card__picture card__picture--3"></div>
                    <div class="card__heading">Blue Christmas</div>
                    <div class="card__details">
                        <p>A reflective service with words of comfort, beautiful music and heartfelt prayers for anyone grieving a loss of any kind.</p>
                    </div>
                </div>
                <div class="card__side"></div>
            </div>
            <div class="card">
                <div class="card__side">
                    <div class="card__picture card__picture--4"></div>
                    <div class="card__heading">Christmas Brunch</div>
                    <div class="card__details">
                        <p>Enjoy food, fun and bingo.  Please RSVP to Joyce Schroeder at joyce@rbcpc.org.  Tickets are $20.</p>
                    </div>
                </div>
                <div class="card__side"></div>
            </div>
            <div class="card">
                <div class="card__side">
                    <div class="card__picture card__picture--5"></div>
                    <div class="card__heading">Drive-Thru Nativity</div>
                    <div class="card__details">
                        <p>Experience the first Christmas from the comfort of your car.  Features a stable full of live animals, angels, and kings.</p>
                    </div>
                </div>
                <div class="card__side"></div>
            </div>
        </div>
    </div>
</div>