<div class="top">
    <div class="xmasContainer maintainMaxWidth">

        <div class="title">Christmas at RB Community Church</div>
    </div>
</div>
<div class="adventEvents">
    <div class="maintainMaxWidth">
        <div class="sectionHeading">
            Advent Events
        </div>
        <div class="cardWrapper">
            <div class="card">
                <div class="card__side card__side--front">
                    <div class="card__picture card__picture--1"></div>
                    <div class="card__heading  card_heading--1"><span>Christmas Concert</span></div>
                    <div class="card__details">
                        <div class="d-flex align-items-center">
                            <div class="event_icon"><img src="images/calendar.png" alt=""></div>
                            <span class="date">Dec. 5, 4:00pm</span>
                        </div>
                        <div class="d-flex align-items-center location">
                            <div class="event_icon"><img src="images/location.png" alt=""></div>
                            <div>Sanctuary, Online</div>
                        </div>
                        <div class="description">The RB Community Church music and arts ministry leads a celebration of Christ’s birth through
                            reflective Advent anthems and festive Christmas carols. The concert features Vivaldi’s
                            masterwork, “Gloria.”</div>
                    </div>
                </div>
                <div class="card__side card__side--back card__side--back-1">HELLO WORLD</div>
            </div>
            <div class="card">
                <div class="card__side card__side--front">
                    <div class="card__picture card__picture--2"></div>
                    <div class="card__heading  card_heading--2"><span>Breakfast In Bethlehem</span></div>
                    <div class="card__details">
                        <div class="d-flex align-items-center">
                            <div class="event_icon"><img src="images/calendar.png" alt=""></div>
                            <span class="date">Dec. 11, 9:30am</span>
                        </div>
                        <div class="d-flex align-items-center location">
                            <div class="event_icon"><img src="images/location.png" alt=""></div>
                            <div>Fellowship Center</div>
                        </div>
                        <div class="description">Interactive drama, breakfast and crafts. Please RSVP to Joyce Schroeder at joyce@rbcpc.org.
                            Tickets are $20 for adults, $10 for children, under 2 are free.</div>
                    </div>
                </div>
                <div class="card__side card__side--back card__side--back-2">HELLO WORLD</div>
            </div>
            <div class="card">
                <div class="card__side card__side--front">
                    <div class="card__picture card__picture--3"></div>
                    <div class="card__heading  card_heading--3"><span>Blue Christmas</span></div>
                    <div class="card__details">
                        <div class="d-flex align-items-center">
                            <div class="event_icon"><img src="images/calendar.png" alt=""></div>
                            <span class="date">Dec. 12, 3:00pm</span>
                        </div>
                        <div class="d-flex align-items-center location">
                            <div class="event_icon"><img src="images/location.png" alt=""></div>
                            <div>Sanctuary, Online</div>
                        </div>
                        <div class="description">A reflective service with words of comfort, beautiful music and heartfelt prayers for anyone
                            grieving a loss of any kind.</div>
                    </div>
                </div>
                <div class="card__side card__side--back card__side--back-3">HELLO WORLD</div>
            </div>
            <div class="card">
                <div class="card__side card__side--front">
                    <div class="card__picture card__picture--4"></div>
                    <div class="card__heading  card_heading--4"><span>Christmas Brunch</span></div>
                    <div class="card__details">
                        <div class="d-flex align-items-center">
                            <div class="event_icon"><img src="images/calendar.png" alt=""></div>
                            <span class="date">Dec. 18, 10:00am</span>
                        </div>
                        <div class="d-flex align-items-center location">
                            <div class="event_icon"><img src="images/location.png" alt=""></div>
                            <div>Sanctuary, Online</div>
                        </div>
                        <div class="description">Enjoy food, fun and bingo. Please RSVP to Joyce Schroeder at joyce@rbcpc.org. Tickets are
                            $20.</div>
                    </div>

                </div>
                <div class="card__side card__side--back card__side--back-4">
                    HELLO WORLD
                    </div>
            </div>
            <div class="card">
                <div class="card__side card__side--front">
                    <div class="card__picture card__picture--5"></div>
                    <div class="card__heading  card_heading--5"><span>Drive-Thru Nativity</span></div>
                    <div class="card__details">
                        <div class="d-flex align-items-center">
                            <div class="event_icon"><img src="images/calendar.png" alt=""></div>
                            <span class="date">Dec. 19, 5:00-9:00pm</span>
                        </div>
                        <div class="d-flex align-items-center location">
                            <div class="event_icon"><img src="images/location.png" alt=""></div>
                            <div>Upper Parking Lot</div>
                        </div>
                        <div class="description">Experience the first Christmas from the comfort of your car. Features a stable full of live
                            animals, angels, and kings.</div>
                    </div>
                </div>
                <div class="card__side card__side--back card__side--back-5">HELLO WORLD</div>
            </div>
        </div>
    </div>
</div>