<div class="top">
    <div class="xmasContainer maintainMaxWidth">

        <div class="title">Christmas at RB Community Church</div>
    </div>
</div>
<div class="section adventEvents">
    <div class="maintainMaxWidth">
        <div class="sectionHeading">
            Advent Events
        </div>
        <div class="cardWrapper">
            <div class="card">
                <div class="card__side card__side--front">
                    <div class="card__picture card__picture--1"></div>
                    <div class="card__heading  card_heading--1"><span>Christmas Concert</span></div>
                    <div class="card__details">
                        <div class="d-flex align-items-center">
                            <div class="event_icon"><img src="images/calendar.png" alt=""></div>
                            <span class="date">Dec. 5, 4:00pm</span>
                        </div>
                        <div class="d-flex align-items-center">
                            <div class="event_icon"><img src="images/location.png" alt=""></div>
                            <div>Sanctuary, Online</div>
                        </div>
                        <div class="description">The RB Community Church music and arts ministry leads a celebration of
                            Christ’s birth through
                            reflective Advent anthems and festive Christmas carols. The concert features Vivaldi’s
                            masterwork, “Gloria.”</div>
                    </div>
                </div>
                <div class="card__side card__side--back card__side--back-1">
                    <div class="button about_button ">
                        <a href="https://rbcommunity.org/event-Christmas-Concert:-Reveal" target="blank">Get More
                            Info</a>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card__side card__side--front">
                    <div class="card__picture card__picture--2"></div>
                    <div class="card__heading  card_heading--2"><span>Breakfast In Bethlehem</span></div>
                    <div class="card__details">
                        <div class="d-flex align-items-center">
                            <div class="event_icon"><img src="images/calendar.png" alt=""></div>
                            <span class="date">Dec. 11, 9:30am</span>
                        </div>
                        <div class="d-flex align-items-center">
                            <div class="event_icon"><img src="images/location.png" alt=""></div>
                            <div>Fellowship Center</div>
                        </div>
                        <div class="description">Interactive drama, breakfast and crafts. Please RSVP to Joyce Schroeder
                            at joyce@rbcpc.org.
                            Tickets are $15 for adults, $10 for children, under 2 are free.</div>
                    </div>
                </div>
                <div class="card__side card__side--back card__side--back-2">
                    <div class="button about_button ">
                        <a href="https://rbcommunity.org/event-Breakfast-in-Bethlehem" target="blank">Get More
                            Info</a>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card__side card__side--front">
                    <div class="card__picture card__picture--3"></div>
                    <div class="card__heading  card_heading--3"><span>Blue Christmas</span></div>
                    <div class="card__details">
                        <div class="d-flex align-items-center">
                            <div class="event_icon"><img src="images/calendar.png" alt=""></div>
                            <span class="date">Dec. 12, 3:00pm</span>
                        </div>
                        <div class="d-flex align-items-center">
                            <div class="event_icon"><img src="images/location.png" alt=""></div>
                            <div>Sanctuary, Online</div>
                        </div>
                        <div class="description">A reflective service with words of comfort, beautiful music and
                            heartfelt prayers for anyone
                            grieving a loss of any kind.</div>
                    </div>
                </div>
                <div class="card__side card__side--back card__side--back-3">
                    <div class="button about_button ">
                        <a href="https://rbcommunity.org/event-Blue-Christmas:-A-Service-of-Remembrance"
                            target="blank">Get More
                            Info</a>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card__side card__side--front">
                    <div class="card__picture card__picture--4"></div>
                    <div class="card__heading  card_heading--4"><span>Christmas Brunch</span></div>
                    <div class="card__details">
                        <div class="d-flex align-items-center">
                            <div class="event_icon"><img src="images/calendar.png" alt=""></div>
                            <span class="date">Dec. 18, 10:00am</span>
                        </div>
                        <div class="d-flex align-items-center">
                            <div class="event_icon"><img src="images/location.png" alt=""></div>
                            <div>Fellowship Center</div>
                        </div>
                        <div class="description">Enjoy food, fun and bingo. Please RSVP to Joyce Schroeder at
                            joyce@rbcpc.org. Tickets are
                            $20.</div>
                    </div>

                </div>
                <div class="card__side card__side--back card__side--back-4">
                    <div class="button about_button ">
                        <a href="https://rbcommunity.org/event-Christmas-Brunch" target="blank">Get More
                            Info</a>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card__side card__side--front">
                    <div class="card__picture card__picture--5"></div>
                    <div class="card__heading  card_heading--5"><span>Drive-Thru Nativity</span></div>
                    <div class="card__details">
                        <div class="d-flex align-items-center">
                            <div class="event_icon"><img src="images/calendar.png" alt=""></div>
                            <span class="date">Dec. 19, 5:00-9:00pm</span>
                        </div>
                        <div class="d-flex align-items-center location">
                            <div class="event_icon"><img src="images/location.png" alt=""></div>
                            <div>Upper Parking Lot</div>
                        </div>
                        <div class="description">Experience the first Christmas from the comfort of your car. Features a
                            stable full of live
                            animals, angels, and kings.</div>
                    </div>
                </div>
                <div class="card__side card__side--back card__side--back-5">
                    <div class="button about_button ">
                        <a href="https://rbcommunity.org/event-Live-Nativity-Drive-Thru" target="blank">Get More
                            Info</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section sundaySeries">
    <div class="maintainMaxWidth">
        <div class="makeRightColumn">
            <div class="sectionHeading">Sunday Worship Series</div>
            <div class="sundayTimes">Sundays, 9:30am in the Sanctuary</div>
            <p>For the weeks leading up to Christmas we focus on four people in the Christmas story approached by
                messengers
                from God. The messengers all began with the words, “Do not be afraid.”</p>
            <p>Why be afraid? These four people are only some in the
                Bible who experienced a message from God brought by a “messenger,” the word that later became “Angel.”
                Almost
                all of them heard these words first. However the angel revealed its presence, it must have been
                startling.
                Was there something within the moment that would challenge the person’s preconceptions of life? Were
                there
                deeper thoughts and experiences that would be affected by this word of assurance? Were they being told
                that
                the greater concerns of their hearts wouldn’t have a place in this moment and in what followed?</p>
            <p>There are many reasons for us to be afraid right now and many people telling us we should be. As we enter
                this season of anticipation through the story of Christmas, we’ll walk alongside people who experienced
                the
                hopes and fears of all the years first hand. They gave us an example of taking hold of the hand of God,
                walking out of anxiety and facing the unknown.</p>
        </div>
    </div>
</div>


<div class="section christmasEve">
    <div class="maintainMaxWidth">
        <div class="topBox">
            <div class="sectionHeading">Christmas Eve</div>
            <p>Join us Christmas Eve to celebrate our Savior’s birth. <br /> All present receive a 12 Days of Christmas
                Devotional ‘The Wonderful Impossible’ <br /> by Pastor Geoff Kohler.</p>
        </div>
        <div class="eveServiceWrapper">
            <div class="eveService">
                <img src="/images/star2.svg" alt="">
                <div class="Title">Family Service</div>
                <div class="Time">12:00pm</div>
                <div class="Description">Live animals and play land from 12:30-2:00pm</div>
            </div>
            <div class="eveService">
                <img src="/images/tree.svg" alt="">
                <div class="Title">Contemporary Service</div>
                <div class="Time">4:00pm</div>
                {{!-- <div class="Description">Live animals and play land from 12:30-2:00pm</div> --}}
            </div>
            <div class="eveService">
                <img src="/images/bell.svg" alt="">
                <div class="Title">Traditional Service</div>
                <div class="Time">8:00pm</div>
                {{!-- <div class="Description">Live animals and play land from 12:30-2:00pm</div> --}}
            </div>
        </div>

    </div>
</div>

<script src="/js/jquery-3.2.1.min.js"></script>
<script src="js/events.js"></script>