<!-- Home -->

<div class="home">
	<div class="home_background" style="background-image:url(images/events.jpg)"></div>
	<div class="home_content">
		<div class="container">
			<div class="row">
				<div class="col d-flex flex-row align-items-center justify-content-start">
					<div class="home_title">Giving</div>
					<div class="breadcrumbs ml-auto">
						<ul>
							<li><a href="/home">Home</a></li>
							<li>Giving</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- About -->

<div class="about">
	<div class="container">
		<div class="row">
			<div class="col">
				<div class="section_title_container text-center">
					<div class="section_title">giving</div>
					<div class="section_subtitle">Responding to God's generosity</div>
				</div>
			</div>
		</div>
		<div class="row about_row" style="align-items: center">
			{{!-- <div class="col-lg-6">
				<div class="about_image"><img src="images/about.jpg" alt=""></div>
			</div> --}}
			<div class="col-lg-12">
				<script src="https://forms.ministryforms.net/embed.aspx?formId=96561598-49c8-4147-ae6d-46f3624aef24&custom-templates="></script>
			</div>
		</div>
	</div>
</div>



<script src="/js/jquery-3.2.1.min.js"></script>
<script src="js/about.js"></script>