<div class="wrapper">
    <div class="container py-5">
        <div class="row">
            <div class="col-12 text-center">
                <div class="churchName">RB Community Church</div>
                <div class="title">Holy Week</div>
            </div>
        </div>
        <div class="row weekWrap text-center">
            <div class="col-md-3 singleEvent">
                <a href="https://rbcommunity.org/event-Palm-Sunday">
                    <img class="img-fluid"
                        src="https://images.ctfassets.net/v1a9n1zktijq/487kUjnOyOrcGHE9ZDcBWe/c1ed2ae53e374b0bee7dd474c6c2598a/palm_sunday.png"
                        alt="Palm Sunday">
                    <div>Palm Sunday</div>
                    <div class="d-flex align-items-center justify-content-center">
                        <div class="event_icon"><img src="images/calendar.png" alt=""></div>
                        <span class="date">Mar. 28</span>
                    </div>
                    <div class="d-flex align-items-center justify-content-center location">
                        <div class="event_icon"><img src="images/location.png" alt=""></div>
                        <div>Online, Courtyard</div>
                    </div>
                    <p>Join our Palm Sunday celebration on the courtyard as we kick-off Holy Week and prepare our hearts
                        for the Christ’s journey to the cross, death and resurrection.</p>
                </a>
                <div class="button about_button mt-2">
                    <a href="https://rbcommunity.org/event-Palm-Sunday" target="blank">RSVP</a>
                </div>
            </div>
            <div class="col-md-3 singleEvent">
                <a href="https://rbcommunity.org/event-Mornings-with-the-Master">
                    <img class="img-fluid"
                        src="https://images.ctfassets.net/v1a9n1zktijq/sd9kkNeUrgSVJ3bm6d1Jg/23a1a4f5263ac674ed3ed05aafdc83fc/Mornings_with_the_Master.png"
                        alt="Mornings With The Master">
                    <div class="text-center">Mornings With The Master</div>
                    <div class="d-flex align-items-center justify-content-center">
                        <div class="event_icon"><img src="images/calendar.png" alt=""></div>
                        <span class="date">Mar. 29 - Apr. 2, 7:00am</span>
                    </div>
                    <div class="d-flex align-items-center justify-content-center location">
                        <div class="event_icon"><img src="images/location.png" alt=""></div>
                        <div>Online</div>
                    </div>
                    <p>Follow our Master to the cross in our virtual Holy Week worship services. Create the time and
                        space to reflect through prayer, song, scripture and message.</p>
                </a>
            </div>
            <div class="col-md-3 singleEvent">
                <a href="https://rbcommunity.org/event-Maundy-Thursday-Communion-Service">
                    <img class="img-fluid"
                        src="https://images.ctfassets.net/v1a9n1zktijq/1R0gWD5MDAWj1UvOVoGZGW/ef12929df2202200565bde73f7525e95/holy_thursday.png"
                        alt="Maundy Thursday Communion Service">
                    <div class="text-center">Holy Thursday</div>
                    <div class="d-flex align-items-center justify-content-center">
                        <div class="event_icon"><img src="images/calendar.png" alt=""></div>
                        <span class="date">Apr. 1, 12:00pm</span>
                    </div>
                    <div class="d-flex align-items-center justify-content-center location">
                        <div class="event_icon"><img src="images/location.png" alt=""></div>
                        <div>Sanctuary</div>
                    </div>
                    <p>We invite you to a reflective communion service in our sanctuary as we remember the Last Supper
                        and prepare our hearts for Christ’s sacrifice.</p>
                </a>
                <div class="button about_button mt-2">
                    <a href="https://rbcommunity.org/event-Maundy-Thursday-Communion-Service" target="blank">RSVP</a>
                </div>
            </div>
            <div class="col-md-3 singleEvent">
                <a href="https://rbcommunity.org/event-Good-Friday">
                    <img class="img-fluid"
                        src="https://images.ctfassets.net/v1a9n1zktijq/9Dq94HNwaTs2odSw8jizJ/503ec55816f65fcc516b27426f79987a/good_friday.png"
                        alt="Good Friday">
                    <div class="text-center">Good Friday</div>
                    <div class="d-flex align-items-center justify-content-center">
                        <div class="event_icon"><img src="images/calendar.png" alt=""></div>
                        <span class="date">Apr. 2, 6:30pm</span>
                    </div>
                    <div class="d-flex align-items-center justify-content-center location">
                        <div class="event_icon"><img src="images/location.png" alt=""></div>
                        <div>Online, Courtyard</div>
                    </div>
                    <p>Reflect on Christ’s sacrifice on the cross in a special worship service of music and the Word.
                    </p>
                </a>
                <div class="button about_button mt-2">
                    <a href="https://rbcommunity.org/event-Good-Friday" target="blank">RSVP</a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 text-center mt-5">
                {{!-- <div class="churchName">RB Community Church</div> --}}
                <div class="title">Easter</div>
            </div>
        </div>

        <div class="weekWrap p-3 mb-5">
            <div class="row my-3">
                <div class="col-md-6">
                    <a href="https://rbcommunity.org/event-Online-Easter-Family-Service">
                        <img class="img-fluid"
                            src="https://images.ctfassets.net/v1a9n1zktijq/1UafenOiuhken9rdyCG8ss/349b51224b0819b51aa686edc448af24/Easter_Family_Service_No_Logo__1_.png"
                            alt="">
                    </a>
                </div>
                <div class="col-md-6 text-left">
                    <a href="https://rbcommunity.org/event-Online-Easter-Family-Service">
                        <div>Family Easter Service</div>
                        <div class="d-flex align-items-center ">
                            <div class="event_icon"><img src="images/calendar.png" alt=""></div>
                            <span class="date">Apr. 3, 11:00am</span>
                        </div>
                        <div class="d-flex align-items-center location">
                            <div class="event_icon"><img src="images/location.png" alt=""></div>
                            <div>Online</div>
                        </div>
                        <p>Join Ms. Olivia and her amazing friends from Gethsemane Street as they transport your
                            children
                            into a world of amazement as they teach the story of Easter in a fun, engaging way.</p>
                    </a>
                </div>

            </div>
            <div class="row">
                <div class="col-md-4 singleEvent">
                    <a href="https://rbcommunity.org/event-Easter-Drive---In-Worship">
                        <img class="img-fluid"
                            src="https://images.ctfassets.net/v1a9n1zktijq/7pHXWGmU68njU9l69ljQny/c182dc4feed29e900f8cf486826c42ee/Easter_drive_in.png"
                            alt="Easter Drive-In Worship">
                        <div class="text-center">Easter Drive-In Worship</div>
                        <div class="d-flex align-items-center justify-content-center">
                            <div class="event_icon"><img src="images/calendar.png" alt=""></div>
                            <span class="date">Apr. 4, 9:00am</span>
                        </div>
                        <div class="d-flex align-items-center justify-content-center location">
                            <div class="event_icon"><img src="images/location.png" alt=""></div>
                            <div>Upper Parking Lot</div>
                        </div>
                        <p class="description">Honk your car horn and declare, “Christ is Risen!” during our
                            drive-in Easter
                            Sunday worship
                            service. Spread the Good News and invite family, friends and neighbors to take park in
                            this
                            unique worship experience.</p>
                    </a>
                    <div class="button about_button mt-2">
                        <a href="https://rbcommunity.org/event-Easter-Drive---In-Worship" target="blank">RSVP</a>
                    </div>
                </div>
                <div class="col-md-4 singleEvent">
                    <a href="https://rbcommunity.org/event-Easter-Courtyard-Worship">
                        <img class="img-fluid"
                            src="https://images.ctfassets.net/v1a9n1zktijq/6Cuo2R77SUJfIK2X2f2xhS/1b157202f37282b7be38244f07a71c99/easter_courtyard.png"
                            alt="Easter Courtyard Worship">
                        <div class="text-center">Easter Courtyard Worship</div>
                        <div class="d-flex align-items-center justify-content-center">
                            <div class="event_icon"><img src="images/calendar.png" alt=""></div>
                            <span class="date">Apr. 4, 11:00am</span>
                        </div>
                        <div class="d-flex align-items-center justify-content-center location">
                            <div class="event_icon"><img src="images/location.png" alt=""></div>
                            <div>Courtyard</div>
                        </div>
                        <p>Sing alleluia to the risen Savior as we celebrate Easter on our courtyard. Spread the
                            Good News
                            and invite family, friends and neighbors to proclaim Jesus is Lord.</p>
                    </a>
                    <div class="button about_button mt-2">
                        <a href="https://rbcommunity.org/event-Easter-Courtyard-Worship" target="blank">RSVP</a>
                    </div>
                </div>
                <div class="col-md-4 singleEvent">
                    <a href="https://rbcommunity.org/event-Easter-Online-Worship">
                        <img class="img-fluid"
                            src="https://images.ctfassets.net/v1a9n1zktijq/1PfuBNj4qOljI5FiHSHSO0/109e9a4b64959ba30f663bb9fc83260e/easter_online.png"
                            alt="Easter Online Worship">
                        <div class="text-center">Easter Online Worship</div>
                        <div class="d-flex align-items-center justify-content-center">
                            <div class="event_icon"><img src="images/calendar.png" alt=""></div>
                            <span class="date">Apr. 4</span>
                        </div>
                        <div class="d-flex align-items-center justify-content-center location">
                            <div class="event_icon"><img src="images/location.png" alt=""></div>
                            <div>Facebook, Youtube</div>
                        </div>
                        <p>Shout alleluia and celebrate the risen Lord with our online community in two worship
                            opportunities: traditional (10am premiere) and contemporary (on-demand). Share the
                            service with
                            family, friends and neighbors as we spread the Good News of Christ’s resurrection.</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/js/jquery-3.2.1.min.js"></script>
<script src="js/about.js"></script>