<div class="wrapper">
  <div class="container py-5">
    <div class="row">
      <div class="col-12 text-center">
        <div class="churchName">RB Community Church</div>
        <div class="title">Holy Week</div>
      </div>
    </div>
    <div class="row weekWrap text-center">
      <div class="col-md-3 singleEvent">
        <a href="https://rbcommunity.org/event-Palm-Sunday">
          <img
            class="img-fluid"
            src="https://images.ctfassets.net/v1a9n1zktijq/2uVAPvIwJzDYqhUFxl8d6H/34814b61e25e6bb9b122487096dfffd0/radiant-paint-palms-02-still-hd.jpg"
            alt="Palm Sunday"
          />
          <div>Palm Sunday</div>
          <div class="d-flex align-items-center justify-content-center">
            <div class="event_icon"><img
                src="images/calendar.png"
                alt=""
              /></div>
            <span class="date">Apr. 2</span>
          </div>
          <div
            class="d-flex align-items-center justify-content-center location"
          >
            <div class="event_icon"><img
                src="images/location.png"
                alt=""
              /></div>
            <div>Sanctuary, Online</div>
          </div>
          <p>Join our Palm Sunday celebration on the courtyard as we kick-off
            Holy Week and prepare our hearts for Christ’s journey to the
            cross, death and resurrection.</p>
        </a>
      </div>
      <div class="col-md-3 singleEvent">
        <a href="https://rbcommunity.org/event-Mornings-With-The-Master">
          <img
            class="img-fluid"
            src="https://images.ctfassets.net/v1a9n1zktijq/1maTIlDCJx2ScxhgHXgTyS/429c8306863313e114045b80b9bf9406/cross_in_clouds.jpg"
            alt="Mornings With The Master"
          />
          <div class="text-center">Mornings With The Master</div>
          <div class="d-flex align-items-center justify-content-center">
            <div class="event_icon"><img
                src="images/calendar.png"
                alt=""
              /></div>
            <span class="date">Apr. 3 - 7, 7:00am</span>
          </div>
          <div
            class="d-flex align-items-center justify-content-center location"
          >
            <div class="event_icon"><img
                src="images/location.png"
                alt=""
              /></div>
            <div>Sanctuary</div>
          </div>
          <p>Follow our Master to the cross in our Holy Week worship
            services. Create the time and space to reflect through prayer, song,
            scripture and message.</p>
        </a>
      </div>
      <div class="col-md-3 singleEvent">
        <a href="https://rbcommunity.org/event-Maundy-Thursday-Service">
          <img
            class="img-fluid"
            src="https://images.ctfassets.net/v1a9n1zktijq/1raTLonuS5xcFH3TVfZwcw/5c17e477bcf63f394d72323955cecdfe/thurdsday.jpg"
            alt="Maundy Thursday Service"
          />
          <div class="text-center">Maundy Thursday</div>
          <div class="d-flex align-items-center justify-content-center">
            <div class="event_icon"><img
                src="images/calendar.png"
                alt=""
              /></div>
            <span class="date">Apr. 6, 7:00pm</span>
          </div>
          <div
            class="d-flex align-items-center justify-content-center location"
          >
            <div class="event_icon"><img
                src="images/location.png"
                alt=""
              /></div>
            <div>Sanctuary, Online</div>
          </div>
          <p>We invite you to a reflective communion service in our sanctuary as
            we remember the Last Supper and prepare our hearts for Christ’s
            sacrifice.</p>
        </a>
      </div>
      <div class="col-md-3 singleEvent">
        <a href="https://rbcommunity.org/event-Good-Friday">
          <img
            class="img-fluid"
            src="https://images.ctfassets.net/v1a9n1zktijq/2QsSNlifHTHW5PP5Cq9bmp/a8d9fdaf8e40a20f3bebfa3b60c0fff5/cross.jpg"
            alt="Good Friday"
          />
          <div class="text-center">Good Friday</div>
          <div class="d-flex align-items-center justify-content-center">
            <div class="event_icon"><img
                src="images/calendar.png"
                alt=""
              /></div>
            <span class="date">Apr. 7, 12:00pm</span>
          </div>
          <div
            class="d-flex align-items-center justify-content-center location"
          >
            <div class="event_icon"><img
                src="images/location.png"
                alt=""
              /></div>
            <div>Sanctuary</div>
          </div>
          <p>Reflect on Christ’s sacrifice on the cross in a special worship
            service of music and the Word.
          </p>
        </a>
      </div>
    </div>

    <div class="row">
      <div class="col-12 text-center mt-5">
        {{! <div class="churchName">RB Community Church</div> }}
        <div class="title">Easter</div>
      </div>
    </div>

    <div class="weekWrap p-3 mb-5">
      <div class="row my-3">
        <div class="col-md-6">
          <a href="https://rbcommunity.org/event-Family-Easter-Service">
            <img
              class="img-fluid"
              src="https://images.ctfassets.net/v1a9n1zktijq/3GdKyUri0181sjtPDn0cGY/11160608b6eafd37ad9264ccc41dab23/tomb.jpg"
              alt=""
            />
          </a>
        </div>
        <div class="col-md-6 text-left">
          <a href="https://rbcommunity.org/event-Family-Easter-Service">
            <div>Family Easter Service</div>
            <div class="d-flex align-items-center">
              <div class="event_icon"><img
                  src="images/calendar.png"
                  alt=""
                /></div>
              <span class="date">Sat. Apr. 8, 10:00am</span>
            </div>
            <div class="d-flex align-items-center location">
              <div class="event_icon"><img
                  src="images/location.png"
                  alt=""
                /></div>
              <div>Sanctuary, Online</div>
            </div>
            <p>On the Saturday before Easter join our children's choirs and actors as they transport children
              into a world of amazement while teaching the Easter story in a
              fun, engaging way. Face painting, cotton candy, egg hunts and
              more.</p>
          </a>
        </div>

      </div>
      <hr>
      <div class="row">

         <div class="col-md-6">
          <a href="https://rbcommunity.org/event-Easter-Resurrection-Worship">
            <img
              class="img-fluid"
              src="https://images.ctfassets.net/v1a9n1zktijq/32GXNQnIxvnDRnwtRz0H40/a783314511eb9c4e8eb7202d41926edd/tomb_and_crosses.jpg"
              alt=""
            />
          </a>
        </div>

        <div class="col-md-6 text-left">
          <a href="https://rbcommunity.org/event-Easter-Resurrection-Worship">
            <div>Resurrection Sunday</div>
            <div class="d-flex align-items-center">
              <div class="event_icon"><img
                  src="images/calendar.png"
                  alt=""
                /></div>
              <span class="date">Apr. 9, 6:00am, 9:30am</span>
            </div>
            <div class="d-flex align-items-center location">
              <div class="event_icon"><img
                  src="images/location.png"
                  alt=""
                /></div>
              <div>Sanctuary, Courtyard, Online</div>
            </div>
            <p>Shout alleluia and celebrate the risen Lord with two worship
              opportunities: a Sunrise service in our Courtyard at 6:00am and a
              service in our Sanctuary at 9:30am.</p>
          </a>
        </div>

       

        {{! <div class="col-md-4 singleEvent">
          <a href="https://rbcommunity.org/event-Easter-Drive---In-Worship">
            <img
              class="img-fluid"
              src="https://images.ctfassets.net/v1a9n1zktijq/7pHXWGmU68njU9l69ljQny/c182dc4feed29e900f8cf486826c42ee/Easter_drive_in.png"
              alt="Easter Drive-In Worship"
            />
            <div class="text-center">Easter Drive-In Worship</div>
            <div class="d-flex align-items-center justify-content-center">
              <div class="event_icon"><img
                  src="images/calendar.png"
                  alt=""
                /></div>
              <span class="date">Apr. 4, 9:00am</span>
            </div>
            <div
              class="d-flex align-items-center justify-content-center location"
            >
              <div class="event_icon"><img
                  src="images/location.png"
                  alt=""
                /></div>
              <div>Upper Parking Lot</div>
            </div>
            <p class="description">Honk your car horn and declare, “Christ is
              Risen!” during our drive-in Easter Sunday worship service. Spread
              the Good News and invite family, friends and neighbors to take
              park in this unique worship experience.</p>
          </a>
          <div class="button about_button mt-2">
            <a
              href="https://rbcommunity.org/event-Easter-Drive---In-Worship"
              target="blank"
            >RSVP</a>
          </div>
        </div>
        <div class="col-md-4 singleEvent">
          <a href="https://rbcommunity.org/event-Easter-Courtyard-Worship">
            <img
              class="img-fluid"
              src="https://images.ctfassets.net/v1a9n1zktijq/6Cuo2R77SUJfIK2X2f2xhS/1b157202f37282b7be38244f07a71c99/easter_courtyard.png"
              alt="Easter Courtyard Worship"
            />
            <div class="text-center">Easter Courtyard Worship</div>
            <div class="d-flex align-items-center justify-content-center">
              <div class="event_icon"><img
                  src="images/calendar.png"
                  alt=""
                /></div>
              <span class="date">Apr. 4, 11:00am</span>
            </div>
            <div
              class="d-flex align-items-center justify-content-center location"
            >
              <div class="event_icon"><img
                  src="images/location.png"
                  alt=""
                /></div>
              <div>Courtyard</div>
            </div>
            <p>Sing alleluia to the risen Savior as we celebrate Easter on our
              courtyard. Spread the Good News and invite family, friends and
              neighbors to proclaim Jesus is Lord.</p>
          </a>
          <div class="button about_button mt-2">
            <a
              href="https://rbcommunity.org/event-Easter-Courtyard-Worship"
              target="blank"
            >RSVP</a>
          </div>
        </div>
        <div class="col-md-4 singleEvent">
          <a href="https://rbcommunity.org/event-Easter-Online-Worship">
            <img
              class="img-fluid"
              src="https://images.ctfassets.net/v1a9n1zktijq/1PfuBNj4qOljI5FiHSHSO0/109e9a4b64959ba30f663bb9fc83260e/easter_online.png"
              alt="Easter Online Worship"
            />
            <div class="text-center">Easter Online Worship</div>
            <div class="d-flex align-items-center justify-content-center">
              <div class="event_icon"><img
                  src="images/calendar.png"
                  alt=""
                /></div>
              <span class="date">Apr. 4</span>
            </div>
            <div
              class="d-flex align-items-center justify-content-center location"
            >
              <div class="event_icon"><img
                  src="images/location.png"
                  alt=""
                /></div>
              <div>Facebook, Youtube</div>
            </div>
            <p>Shout alleluia and celebrate the risen Lord with our online
              community in two worship opportunities: traditional (10am
              premiere) and contemporary (on-demand). Share the service with
              family, friends and neighbors as we spread the Good News of
              Christ’s resurrection.</p>
          </a>
        </div> }}
      </div>
    </div>
  </div>
</div>

<script src="/js/jquery-3.2.1.min.js"></script>
<script src="js/about.js"></script>