<div class="wrapper">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="container py-5">
        <div class="row">
            <div class="col-12 text-center">
                <div class="churchName">RB Community Church</div>
                <div class="title">Holy Week</div>
            </div>
        </div>
        <div class="row pt-5 weekWrap text-center">
            <div class="col-3">
                <a href="https://rbcommunity.org/event-Palm-Sunday">
                    <img class="img-fluid"
                        src="https://images.ctfassets.net/v1a9n1zktijq/487kUjnOyOrcGHE9ZDcBWe/c1ed2ae53e374b0bee7dd474c6c2598a/palm_sunday.png"
                        alt="Palm Sunday">
                    <div>Palm Sunday</div>
                    <div class="date">Mar. 28</div>
                    <div class="location">Online, Courtyard</div>
                    <p>Join our Palm Sunday celebration on the courtyard as we kick-off Holy Week and prepare our hearts
                        for the Christ’s journey to the cross, death and resurrection.</p>
                </a>
            </div>
            <div class="col-3">
                <a href="https://rbcommunity.org/event-Mornings-with-the-Master">
                    <img class="img-fluid"
                        src="https://images.ctfassets.net/v1a9n1zktijq/sd9kkNeUrgSVJ3bm6d1Jg/23a1a4f5263ac674ed3ed05aafdc83fc/Mornings_with_the_Master.png"
                        alt="Mornings With The Master">
                    <div class="text-center">Mornings With The Master</div>
                    <div class="date">Mar. 29 - Apr. 2, 7am</div>
                    <div class="location">Online</div>
                    <p>Follow our Master to the cross in our virtual Holy Week worship services. Create the time and
                        space to reflect through prayer, song, scripture and message.</p>
                </a>
            </div>
            <div class="col-3">
                <a href="https://rbcommunity.org/event-Maundy-Thursday-Communion-Service">
                    <img class="img-fluid"
                        src="https://images.ctfassets.net/v1a9n1zktijq/1R0gWD5MDAWj1UvOVoGZGW/ef12929df2202200565bde73f7525e95/holy_thursday.png"
                        alt="Maundy Thursday Communion Service">
                    <div class="text-center">Holy Thursday</div>
                    <div class="date">Apr. 1, 12:00pm</div>
                    <div class="location">Sanctuary</div>
                    <p>We invite you to a reflective communion service in our sanctuary as we remember the Last Supper and prepare our hearts for Christ’s sacrifice.</p>
                </a>
            </div>
            <div class="col-3">
                <a href="https://rbcommunity.org/event-Good-Friday">
                    <img class="img-fluid"
                        src="https://images.ctfassets.net/v1a9n1zktijq/9Dq94HNwaTs2odSw8jizJ/503ec55816f65fcc516b27426f79987a/good_friday.png"
                        alt="Good Friday">
                    <div class="text-center">Good Friday</div>
                    <div class="date">Apr. 2, 6:30pm</div>
                    <div class="location">Online, Courtyard</div>
                    <p>Reflect on Christ’s sacrifice on the cross in a special worship service of music and the Word.</p>
                </a>
            </div>
        </div>
    </div>
</div>