<!-- Home -->

<div class="home">
	<div class="home_background" style="background-image:url(images/events.jpg)"></div>
	<div class="home_content">
		<div class="container">
			<div class="row">
				<div class="col d-flex flex-row align-items-center justify-content-start">
					<div class="home_title">Giving</div>
					<div class="breadcrumbs ml-auto">
						<ul>
							<li><a href="/home">Home</a></li>
							<li>Giving</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- About -->

<div class="about">
	<div class="container">
		<div class="row">
			<div class="col">
				<div class="section_title_container text-center">
					<div class="section_title">giving</div>
					<div class="section_subtitle">Responding to God's generosity</div>
				</div>
			</div>
		</div>
		<div class="row about_row" style="align-items: start">
			{{!-- <div class="col-lg-6">
				<div class="about_image"><img src="images/about.jpg" alt=""></div>
			</div> --}}
			<div class="col-sm-12">
				<div class="about_content">
					<div class="about_text">
						<h1 class="invisible">There are several ways you can give at RB Community Church</h1>
						<h3 class="text-dark">There are several ways you can give at RB Community Church.</h3>
						<div class="button about_button mt-2">
							<a href="http://www.shelbygiving.com/dl/?uid=rbcp1701229" target="blank">Donate Online</a>
						</div>
						<h3 class="text-dark mt-4">You can also...</h3>
						<ol class="pl-3">
							{{!-- <li class="li">Setup Automatic Withdrawal from your checking account.</li>
							<div class="button about_button mt-2 mb-4">
								<a href="http://assets.ctfassets.net/v1a9n1zktijq/3R9OJrXlXXyOyqiEQzWbXk/034195b123e1d227576485781d6abeae/0e8475831_1551804082_ach-signup-form-1.pdf"
									target="blank">ACH Signup Form</a>
							</div> --}}
							<li class="li mb-4">Establish a recurring payment from your online bank or credit union
								online
								banking service.</li>
							<li class="li">Make a special contribution of stock or IRA payment.</li>
							<div class="container p-0 pb-4" style="display: flex; flex-wrap: wrap">
								<div class="button about_button mt-2 mr-2" style="float:left">
									<a href="//assets.ctfassets.net/v1a9n1zktijq/GGrOvcnM1CKJmRHbFfNAy/2af1e6d7054d7ab4824808015c45e04c/IRA_Payment_Form.pdf"
										target="blank">IRA Payment Form</a>
								</div>
								<div class="button about_button mt-2 mr-2 givingButton" style="float:left">
									{{!-- <a href="//assets.ctfassets.net/v1a9n1zktijq/631S3KYrMJSTdSA5V7LvKq/9b21faa2a07165af981582a72ba0c85e/Stock_Transfer_Instructions_Revised_09-16-2.pdf" --}}
									{{!-- <a href="//assets.ctfassets.net/v1a9n1zktijq/6PlGTfX9VnbdlEjPFyrKVV/092890f1f10b5ed9ef511b267da8ab77/Stock_Transfer_Instructions_rev2021.pdf" --}}
									<a href="https://res.cloudinary.com/rb-community-church/image/upload/v1708550956/Stock_Transfer_Instructions_rev2024_7f9fc6fc8c.pdf"
										target="blank">Stock Transfer</a>
								</div>
								<div class="button about_button mt-2 mr-2 givingButton" style="float:left">
									{{!-- <a href="//assets.ctfassets.net/v1a9n1zktijq/631S3KYrMJSTdSA5V7LvKq/9b21faa2a07165af981582a72ba0c85e/Stock_Transfer_Instructions_Revised_09-16-2.pdf" --}}
									{{!-- <a href="//assets.ctfassets.net/v1a9n1zktijq/6PlGTfX9VnbdlEjPFyrKVV/092890f1f10b5ed9ef511b267da8ab77/Stock_Transfer_Instructions_rev2021.pdf" --}}
									<a href="https://res.cloudinary.com/rb-community-church/image/upload/v1700254585/Mutual_Fund_Transfer_Instructions_3251cd4110.pdf"
										target="blank">Mutual Fund Transfer</a>
								</div>
							</div>
							<li class="li">Text "give" to 858-239-0294.</li>
							<div class="container p-0 pb-4" style="display: flex">
								<div class="button about_button mt-2 pb-4" style="float:left">
									<a href="https://assets.ctfassets.net/v1a9n1zktijq/58fyxTFXuqbLY0NtKPj3Fx/bcbd6447a7da0ad9fc8471b11d64780e/text_giving_instructions.pdf"
										target="blank">Text giving</a>
								</div>
							</div>
							<li class="li">Mail a check to our address:</li>
							<div class="container p-0 li ml-3 mt-2" style="display: flex">
								RB Community Church<br>17010 Pomerado Rd.<br>San Diego, CA 92128
							</div>
						</ol>
						<h4 class="text-dark mt-5">Serving your time and talents is another way to give</h4>
						<p>We want you to find your fit at RB Community. <a href="/ministries">Click here</a> to see the
							various ministries we have to offer, as well as the missions we support.</p>
					</div>
					{{!-- <div class="button about_button"><a href="/blog_single:3JEwFofQhW3MQcReiGLCYu">read story</a></div> --}}
				</div>
			</div>
			<div class="col-sm-4 d-flex align-items-start">
				<div class="about_content">
					<div class="about_text">
						<h3 class="text-dark">Click below to indicate your 2024 pledge:</h3>
						
					</div>
				<div class="button about_button mt-2">
							<a href="/commitment">Pledge for 2024</a>
						</div>

				</div>
			</div>
		</div>
	</div>
</div>



<script src="/js/jquery-3.2.1.min.js"></script>
<script src="js/about.js"></script>