<!-- Home -->

<div class="home">
	<div class="home_background" style="background-image:url(images/events.jpg)"></div>
	<div class="home_content">
		<div class="container">
			<div class="row">
				<div class="col d-flex flex-row align-items-center justify-content-start">
					<div class="home_title">Ministries</div>
					<div class="breadcrumbs ml-auto">
						<ul>
							<li><a href="index.html">Home</a></li>
							<li>Ministries</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Ministries -->

<div class="sermons">
	<div class="container">
		<div class="row">
			<div class="col">
				<div class="section_title_container text-center">
					<div class="section_title">our ministries</div>
					<div class="section_subtitle">How we live out our faith</div>
				</div>
			</div>
		</div>
		<div class="row sermons_row">

			<!-- List of Ministries -->

			<div class="col-lg-6">
				<div class="contact_title">Arabic ministries</div>
				<p class="text-dark">Agabus // <a href="mailto:wasefmirna@gmail.com">wasefmirna@gmail.com</a><br>
					Agabus PK // <a href="mailto:wasefmirna@gmail.com">wasefmirna@gmail.com</a><br>
					Matt 25:40 // <a href="mailto:wasefmirna@gmail.com">wasefmirna@gmail.com</a><br>
					Services // <a href="mailto:mofid@rbcpc.org">mofid@rbcpc.org</a></p>

				<div class="contact_title">Adult Education</div>
				<p class="text-dark">Pastor of Adult Education & Discipleship // <a
						href="mailto:john@rbcpc.org">john@rbcpc.org</a><br>
					<a href="http://assets.ctfassets.net/v1a9n1zktijq/1VRvxbL7lvjunzQlmXogOy/2c6f75140035acd5529dab7011ff0069/Catalog_Fall_2019.pdf"
						class="button_link" target="blank"><button class="p-1 ml-4 mb-1">Download Fall 2019 Course
							Catalog</button></a><br>
					<a href="https://bit.ly/cotbible" class="button_link" target="blank"><button
							class="p-1 ml-4 mb-1">Register for Fall 2019 Courses</button></a>

					<div class="contact_title">Deacons</div>
					<p class="text-dark">Board of Deacons // <a
							href="mailto:arwazny23@gmail.com">arwazny23@gmail.com</a><br>

						<div class="contact_title">Elders</div>
						<p class="text-dark">Clerk of Session // <a
								href="mailto:willboke@san.rr.com">willboke@san.rr.com</a><br>
							Session Elders // <a href="mailto:elders@rbcpc.org">elders@rbcpc.org</a><br>

						<div class="contact_title">Facilities</div>
						<p class="text-dark">Manager // <a
								href="mailto:geovany@rbcpc.org">geovany@rbcpc.org</a><br>

						<div class="contact_title">Family Ministries</div>
						<p class="text-dark">Director // <a
								href="mailto:brent@rbcpc.org">brent@rbcpc.org</a><br>
								Preschool // <a href="mailto:preschooldirector@rbcpc.org">preschooldirector@rbcpc.org</a><br>
								Middle School // <a href="mailto:tim@rbcpc.org">tim@rbcpc.org</a><br>
								High School // <a href="mailto:richard@rbcpc.org">richard@rbcpc.org</a><br>

			</div>






		</div>

		<!-- Page Nav -->

		{{!-- <div class="row">
			<div class="col">
				<div class="page_nav">
					<ul>
						<li class="active"><a href="#">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
					</ul>
				</div>
			</div>
		</div> --}}

	</div>
</div>

<!-- Quote -->

{{!-- <div class="quote">
	<div class="container">
		<div class="row">
			<div class="col">
				<div class="quote_container text-center">
					<div class="quote_quote">“Wherever the bishop appears, there let the people be, even as wheresoever
						Christ Jesus is, there is the catholic church.”</div>
					<div class="quote_icon"><img src="images/quote_2.png" alt=""></div>
					<div class="quote_source">Ignatius of Antioch</div>
				</div>
			</div>
		</div>
	</div>
</div> --}}

<script src="/js/jquery-3.2.1.min.js"></script>
{{!-- <script src="js/sermons.js"></script> --}}