<!-- Home -->

<div class="home">
	<div class="home_background" style="background-image:url(images/events.jpg)"></div>
	<div class="home_content">
		<div class="container">
			<div class="row">
				<div class="col d-flex flex-row align-items-center justify-content-start">
					<div class="home_title">Ministries</div>
					<div class="breadcrumbs ml-auto">
						<ul>
							<li><a href="index.html">Home</a></li>
							<li>Ministries</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Ministries -->

<div class="sermons">
	<div class="container">
		<div class="row">
			<div class="col">
				<div class="section_title_container quote_container text-center">
					<div data-aos="fade-down" class="section_title">our ministries</div>
					<div data-aos="fade-down" class="section_subtitle">“Whatever you do, do all to the glory of God.” 1
						Corinthians 10:31</div>
					<div class="quote_icon"><img src="images/quote.png" alt=""></div>
				</div>
			</div>
		</div>
		<div class="row sermons_row">

			<!-- List of Ministries -->

			<div data-aos="fade-right" class="col-lg-6">
				<div class="contact_title"><a href="/ministry:Arabic Ministries" class="ministry_link">Arabic
						ministries</a></div>
				<p>Associate Pastor Dr. Wasef // <a href="mailto:mofid@rbcpc.org">mofid@rbcpc.org</a><br>
					Coordinator // <a href="mailto:wasefmirna@gmail.com">iman@rbcpc.org</a><br>
				</p>

				<div class="contact_title"><a href="/ministry:Administration" class="ministry_link">Administration</a>
				</div>
				<p>Executive Director // <a href="mailto:frances@rbcpc.org">frances@rbcpc.org</a><br>
					{{!-- Business Director // <a href="mailto:tony@rbcpc.org">tony@rbcpc.org</a><br> --}}
					Facilities Manager // <a href="mailto:geovany@rbcpc.org">geovany@rbcpc.org</a><br>
					{{!-- Operation Manager // <a href="mailto:mikem@rbcpc.org">mikem@rbcpc.org</a><br> --}}
					Administrative Assistant // <a href="mailto:stevenk@rbcpc.org">stevenk@rbcpc.org</a><br>
					<a href="/ministry:Nominating%20Committee">Nominating Committee</a> // <a href="mailto:arwazny23@gmail.com">arwazny23@gmail.com</a><br>
				</p>

				<div class="contact_title"><a href="/ministry:Adult Education" class="ministry_link">Adult
						Discipleship</a>
				</div>
				<p>Associate Pastor Scholte // <a href="mailto:john@rbcpc.org">john@rbcpc.org</a><br>
				<div class="min_links">
					<ul class="ml-5 mt-0 mb-3">
						<li><a href="/ministry:Marriage Enrichment">Marriage Enrichment</a> // <a
								href="mailto:john@rbcpc.org">john@rbcpc.org</a></li>
						<li><a href="/ministry:Men">Men's Ministries</a> // <a
								href="mailto:men@rbcpc.org">men@rbcpc.org</a></li>
						<li>Small Groups // <a href="mailto:lifegroups@rbcpc.org">lifegroups@rbcpc.org</a></li>
						<li><a href="/ministry:Women">Women's Ministries</a> // <a
								href="mailto:women@rbcpc.org">women@rbcpc.org</a></li>
					</ul>
				</div>
				<div class="button ml-4" style="width: 350px;">
				<a href="https://assets.ctfassets.net/v1a9n1zktijq/12xHiImJTLm24Wn5AsTkFW/8d969bcc5420a585c137ee45c021162f/Catalog_Fall_2021.pdf"
					class="button_link" target="blank">Download Fall 2021 Course
						Catalog</a>
					
				</div>
				<br>
				{{!-- <a href="https://bit.ly/cotbible" class="button_link" target="blank"><button
						class="p-1 ml-4 mb-1">Register for Spring 2020 Courses</button></a> --}}
				</p>

				<div class="contact_title"><a href="/ministry:Communications" class="ministry_link">Communications &
						Tech</a></div>
				<p>Director // <a href="mailto:luke@rbcpc.org">luke@rbcpc.org</a><br>
				</p>

				<div class="contact_title"><a href="/ministry:Deacons" class="ministry_link">Deacons</a></div>
				<p>Moderator // <a href="mailto:dsather50@gmail.com">deacons@rbcpc.org</a><br>
				<div class="min_links">
					<ul class="ml-5 mt-0 mb-3">
						<li>Flowers // <a href="mailto:flowers@rbcpc.org">flowers@rbcpc.org</a></li>
						<li>Prayer Ministries // <a href="mailto:prayer@rbcpc.org">prayer@rbcpc.org</a></li>
					</ul>
				</div>
				</p>

				<div class="contact_title"><a href="/ministry:Elders" class="ministry_link">Elders</a></div>
				<p>Clerk of Session // <a href="mailto:thebucknercompany@san.rr.com">thebucknercompany@san.rr.com</a><br>
					Staff Liaison // <a href="mailto:frances@rbcpc.org">frances@rbcpc.org</a><br></p>

				<div class="contact_title"><a href="/ministry:Family Ministries" class="ministry_link">Family
						Ministries</a></div>
				<p>Associate Pastor Scholte // <a href="mailto:john@rbcpc.org">john@rbcpc.org</a><br>
				<div class="min_links">
					<ul class="ml-5 mt-0 mb-3">
						<li><a href="/ministry:Children">Children</a> // <a
								href="mailto:olivia@rbcpc.org">olivia@rbcpc.org</a></li>
						<li><a href="/ministry:Middle School">Middle School</a> // <a
								href="mailto:richard@rbcpc.org">richard@rbcpc.org</a></li>
						<li><a href="/ministry:High School">High School</a> // <a
								href="mailto:richard@rbcpc.org">richard@rbcpc.org</a></li>
						{{!-- <li><a href="/ministry:Fine Arts Academy">RB Fine Arts Academy</a> // <a
								href="mailto:olivia@rbcpc.org">olivia@rbcpc.org</a></li> --}}
					</ul>
				</div>
				</p>



			</div>

			<div data-aos="fade-left" class="col-lg-6">

				<div class="contact_title"><a href="/ministry:Hospitality" class="ministry_link">Hospitality &
						Events</a></div>
				<p>Coordinator // <a href="mailto:joyce@rbcpc.org">joyce@rbcpc.org</a><br>
				</p>

				<div class="contact_title">Memorials And Weddings</div>
				<p><a href="/ministry:Memorials">Memorial Coordinator </a>// <a
						href="mailto:smmelnyk@gmail.com">smmelnyk@gmail.com</a><br>
					<a href="/ministry:Weddings">Wedding Coordinator </a>// <a
						href="mailto:stevenk@rbcpc.org">stevenk@rbcpc.org</a><br>
				</p>

				<div class="contact_title"><a href="/ministry:Missions" class="ministry_link">Missions</a></div>
				<p>Coordinator // <a href="mailto:elaine@rbcpc.org">elaine@rbcpc.org</a><br>
				</p>

				<div class="contact_title"><a href="/ministry:Pastoral Care" class="ministry_link">Pastoral Care</a>
				</div>
				<p>Dr. Mofid Wasef // <a href="mailto:mofid@rbcpc.org">mofid@rbcpc.org</a><br>
					{{!-- Assistant // <a href="mailto:cheryl@rbcpc.org">cheryl@rbcpc.org</a><br> --}}
				<div class="min_links">
					<ul class="ml-5 mt-0 mb-3">
						<li>Parish Nurses // <a href="mailto:parishnurse@roadrunner.com">parishnurse@roadrunner.com</a>
						</li>
						<li>Prayer Ministry // <a href="mailto:prayer@rbcpc.org">prayer@rbcpc.org</a></li>
						<li>Deacons // <a href="mailto:deacons@rbcpc.org">deacons@rbcpc.org</a></li>
						<li>Stephen Ministry // <a href="mailto:wheresbobra@gmail.com">wheresbobra@gmail.com</a></li>
						<li>Pastoral Care Calls // <a href="mailto:carecalls@rbcpc.org">carecalls@rbcpc.org</a></li>
					</ul>
				</div>
				</p>

				<div class="contact_title"><a href="/ministry:Preschool" class="ministry_link">Preschool</a></div>
				<p>Director // <a href="mailto:preschooldirector@rbcpc.org">preschooldirector@rbcpc.org</a><br>
				<p>Assistant Director // <a href="mailto:rbcpcpreschool@rbcpc.org">rbcpcpreschool@rbcpc.org</a><br>


				<div class="contact_title"><a href="/ministry:Seniors" class="ministry_link">Senior
						Ministries</a></div>
				<p>
					{{!-- Parish Nurse C. Magulac // <a href="mailto:cheryl@rbcpc.org">cheryl@rbcpc.org</a> --}}
				<div class="min_links">
					<ul class="ml-5 mt-0 mb-3">
						{{!-- <li>Savvy Travelers // <a href="mailto:dewatkins@aol.com">dewatkins@aol.com</a></li> --}}
						{{!-- <li>Savvy Travelers // <a --}}
						{{!-- href="mailto:joydencoffee@sbcglobal.net">joydencoffee@sbcglobal.net</a></li> --}}
						<li>PrimeTime O.W.L.S. // <a href="mailto:bill@rbcpc.org">bill@rbcpc.org</a> (Currently
							postponed)</li>
					</ul>
				</div>
				</p>

				<div class="contact_title"><a href="/ministry:Worship" class="ministry_link">Worship, Music &
						the
						Arts</a></div>
				<p>Director // <a href="mailto:liz@rbcpc.org">liz@rbcpc.org</a>
					{{!-- <a href="/ministry:Contemporary Worship">Contemporary Worship </a>// <a
						href="mailto:communications@rbcpc.org">communications@rbcpc.org</a><br>
					<a href="/ministry:Traditional Worship">Traditional Worship </a>// <a
						href="mailto:liz@rbcpc.org">liz@rbcpc.org</a><br> --}}
				<div class="min_links">
					<ul class="ml-5 mt-0 mb-3">
						<li>Art Gallery // <a href="mailto:mikegusky.gusky@gmail.com">mikegusky.gusky@gmail.com</a></li>
						<li>Chancel Choir, Ensembles & Orchestra // <a href="mailto:liz@rbcpc.org">liz@rbcpc.org</a>
						</li>
						<li><a href="/ministry:Concert Series">Concert Series</a> // <a
								href="mailto:liz@rbcpc.org">liz@rbcpc.org</a></li>
						{{!-- <li><a href="/ministry:Children%20Youth%20Music%20And%20Theater">Children's/Youth Music And Theater</a> // <a
								href="mailto:olivia@rbcpc.org">olivia@rbcpc.org</a></li> --}}
					</ul>
				</div>
				</p>

			</div>

		</div>








	</div>
	<div class="row" id="filler_row"></div>

	<!-- Page Nav -->

	{{!-- <div class="row">
			<div class="col">
				<div class="page_nav">
					<ul>
						<li class="active"><a href="#">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
					</ul>
				</div>
			</div>
		</div> --}}

</div>
</div>

<!-- Quote -->

{{!-- <div class="quote">
	<div class="container">
		<div class="row">
			<div class="col">
				<div class="quote_container text-center">
					<div class="quote_quote">“Wherever the bishop appears, there let the people be, even as wheresoever
						Christ Jesus is, there is the catholic church.”</div>
					<div class="quote_icon"><img src="images/quote_2.png" alt=""></div>
					<div class="quote_source">Ignatius of Antioch</div>
				</div>
			</div>
		</div>
	</div>
</div> --}}

<script src="/js/jquery-3.2.1.min.js"></script>
<script src="js/sermons.js"></script>