<!-- Home -->

<div class="home">
	<div class="home_background" style="background-image:url(images/events.jpg)"></div>
	<div class="home_content">
		<div class="container">
			<div class="row">
				<div class="col d-flex flex-row align-items-center justify-content-start">
					<div class="home_title">Ministries</div>
					<div class="breadcrumbs ml-auto">
						<ul>
							<li><a href="index.html">Home</a></li>
							<li>Ministries</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Ministries -->

<div class="sermons">
	<div class="container">
		<div class="row">
			<div class="col">
				<div class="section_title_container text-center">
					<div class="section_title">our ministries</div>
					<div class="section_subtitle">How we live out our faith</div>
				</div>
			</div>
		</div>
		<div class="row sermons_row">

			<!-- List of Ministries -->

			<div class="col-lg-6">
				<div class="contact_title">Arabic ministries</div>
				<p>Agabus // <a href="mailto:wasefmirna@gmail.com">wasefmirna@gmail.com</a><br>
					Agabus PK // <a href="mailto:wasefmirna@gmail.com">wasefmirna@gmail.com</a><br>
					Matt 25:40 // <a href="mailto:wasefmirna@gmail.com">wasefmirna@gmail.com</a><br>
					Services // <a href="mailto:mofid@rbcpc.org">mofid@rbcpc.org</a></p>

				<div class="contact_title">Administration</div>
				<p>Business Director // <a href="mailto:tony@rbcpc.org">tony@rbcpc.org</a><br>
					Executive Director // <a href="mailto:frances@rbcpc.org">frances@rbcpc.org</a><br>
					Administrative Assistant // <a href="mailto:stevenk@rbcpc.org">stevenk@rbcpc.org</a><br>
				</p>

				<div class="contact_title"><a href="/ministry:Adult Education" class="ministry_link">Adult Education</a>
				</div>
				<p>Pastor of Adult Education & Discipleship // <a href="mailto:john@rbcpc.org">john@rbcpc.org</a><br>
					<a href="http://assets.ctfassets.net/v1a9n1zktijq/1VRvxbL7lvjunzQlmXogOy/2c6f75140035acd5529dab7011ff0069/Catalog_Fall_2019.pdf"
						class="button_link" target="blank"><button class="p-1 ml-4 mb-1">Download Fall 2019 Course
							Catalog</button></a><br>
					<a href="https://bit.ly/cotbible" class="button_link" target="blank"><button
							class="p-1 ml-4 mb-1">Register for Fall 2019 Courses</button></a></p>

				<div class="contact_title">Communications</div>
				<p>Director // <a href="mailto:luke@rbcpc.org">luke@rbcpc.org</a><br>
				</p>

				<div class="contact_title"><a href="/ministry:Deacons" class="ministry_link">Deacons</a></div>
				<p>Board of Deacons // <a href="mailto:arwazny23@gmail.com">arwazny23@gmail.com</a><br>
					Flowers // <a href="mailto:franspear@yahoo.com">franspear@yahoo.com</a><br>
				</p>

				<div class="contact_title"><a href="/ministry:Elders" class="ministry_link">Elders</a></div>
				<p>Clerk of Session // <a href="mailto:willboke@san.rr.com">willboke@san.rr.com</a><br>
					Session Elders // <a href="mailto:elders@rbcpc.org">elders@rbcpc.org</a><br></p>

				<div class="contact_title">Facilities</div>
				<p>Manager // <a href="mailto:geovany@rbcpc.org">geovany@rbcpc.org</a><br>
				</p>

				<div class="contact_title"><a href="/ministry:Family Ministries" class="ministry_link">Family
						Ministries</a></div>
				<p>Director // <a href="mailto:brent@rbcpc.org">brent@rbcpc.org</a><br>
					Preschool // <a href="mailto:preschooldirector@rbcpc.org">preschooldirector@rbcpc.org</a><br>
					<a href="/ministry:Children">Children</a> // <a
						href="mailto:brianna@rbcpc.org">brianna@rbcpc.org</a><br>
					<a href="/ministry:Middle School">Middle School</a> // <a
						href="mailto:tim@rbcpc.org">tim@rbcpc.org</a><br>
					<a href="/ministry:High School">High School</a> // <a
						href="mailto:richard@rbcpc.org">richard@rbcpc.org</a><br>
					<a href="/ministry:Fine Arts Academy">RB Fine Arts Academy</a> // <a
						href="mailto:olivia@rbcpc.org">olivia@rbcpc.org</a><br>
				</p>

				<div class="contact_title"><a href="/ministry:Hospitality" class="ministry_link">Hospitality</a></div>
				<p>Coordinator // <a href="mailto:joyce@rbcpc.org">joyce@rbcpc.org</a><br>
				</p>

				<div class="contact_title"><a href="/ministry:Life Groups" class="ministry_link">LifeGroups (Small
						Groups)</a></div>
				<p>Coordinator // <a href="mailto:lifegroups@rbcpc.org">lifegroups@rbcpc.org</a><br>
				</p>

				<div class="contact_title">Marriage Enrichment</div>
				<p class="mb-3">Karen Kritzer // <a href="mailto:kkarenp@gmail.com">kkarenp@gmail.com</a><br>
				</p>

				</div>

				<div class="col-lg-6">

				<div class="contact_title">Memorials And Weddings</div>
				<p>Memorial Coordinator // <a href="mailto:cheryl@rbcpc.org">cheryl@rbcpc.org</a><br>
					Wedding Coordinator // <a href="mailto:stevenk@rbcpc.org">stevenk@rbcpc.org</a><br>
				</p>

				<div class="contact_title">Men</div>
				<p>Thursday AM Bible Study // <a href="mailto:men@rbcpc.org">men@rbcpc.org</a><br>
					Monday PM Bible Study // <a href="mailto:gwpoway@me.com">gwpoway@me.com</a><br>
				</p>

				<div class="contact_title"><a href="/ministry:Missions" class="ministry_link">Missions</a></div>
				<p>Coordinator // <a href="mailto:elaine@rbcpc.org">elaine@rbcpc.org</a><br>
				</p>

				<div class="contact_title"><a href="/ministry:Pastoral Care" class="ministry_link">Pastoral Care</a></div>
				<p>Dr. Bryan Stamper // <a href="mailto:bryan@rbcpc.org">bryan@rbcpc.org</a><br>
					Dr. Mofid Wasef // <a href="mailto:mofid@rbcpc.org">mofid@rbcpc.org</a><br>
					Rev. John M. Scholte // <a href="mailto:john@rbcpc.org">john@rbcpc.org</a><br>
					Parish Nurses // <a href="mailto:parishnurse@roadrunner.com">parishnurse@roadrunner.com</a><br>
					Prayer Ministry // <a href="mailto:pastoralcare@rbcpc.org">pastoralcare@rbcpc.org</a><br>
					Deacons // <a href="mailto:deacons@rbcpc.org">deacons@rbcpc.org</a><br>
					Stephen Ministry // <a href="mailto:shell@rbcpc.org">shell@rbcpc.org</a><br>
				</p>

				<div class="contact_title"><a href="/ministry:Preschool" class="ministry_link">Preschool</a></div>
				<p>Director // <a href="mailto:kvandergrift@rbcpc.org">kvandergrift@rbcpc.org</a><br>


					<div class="contact_title"><a href="/ministry:Resale" class="ministry_link">Resale Shop</a></div>
					<p>Director // <a href="mailto:gayle@rbcpc.org">gayle@rbcpc.org</a><br>
					</p>

					<div class="contact_title"><a href="/ministry:Seniors" class="ministry_link">Seniors</a></div>
					<p>Savvy Travelers // <a href="mailto:dewatkins@aol.com">dewatkins@aol.com</a><br>
						Savvy Travelers // <a
							href="mailto:joydencoffee@sbcglobal.net">joydencoffee@sbcglobal.net</a><br>
						PrimeTime O.W.L.S. // <a href="mailto:bill@rbcpc.org">bill@rbcpc.org</a><br>
					</p>


					<div class="contact_title">Women</div>
					<p>Monday PM Bible Study // <a href="mailto:winsley50@aol.com">winsley50@aol.com</a><br>
						Serendipity Bible Study (Tuesday AM) // <a
							href="mailto:lindainpoway@yahoo.com">lindainpoway@yahoo.com</a><br>
						Thursday PM Bible Study // <a
							href="mailto:anabelle16119@gmail.com">anabelle16119@gmail.com</a><br>
						Crosswalk (Thursday AM) // <a
							href="mailto:marty.klusmeier@gmail.com">marty.klusmeier@gmail.com</a><br>
						Cancer Support Group // <a href="mailto:mshovey@cox.net">mshovey@cox.net</a><br>
						Tied in Prayer (Quilting) // <a href="mailto:katknits@cox.net">katknits@cox.net</a><br>
						Heartstring (Knit/crochet) // <a href="mailto:llstyler@aol.com">llstyler@aol.com</a><br></p>

					<div class="contact_title"><a href="/ministry:Worship" class="ministry_link">Worship, Music and the
							Arts</a></div>
					<p><a href="/ministry:Contemporary Worship">Contemporary Worship Director</a> // <a
							href="mailto:will@rbcpc.org">will@rbcpc.org</a><br>
						<a href="/ministry:Traditional Worship">Traditional Worship Director</a> // <a
							href="mailto:liz@rbcpc.org">liz@rbcpc.org</a><br>
						Art Gallery // <a href="mailto:le@rbcpc.org">le@rbcpc.org</a><br>
						Chancel Choir & Ensembles // <a href="mailto:liz@rbcpc.org">liz@rbcpc.org</a><br>
						Orchestra // <a href="mailto:liz@rbcpc.org">liz@rbcpc.org</a><br>
						Concert Series // <a href="mailto:liz@rbcpc.org">liz@rbcpc.org</a><br>
						<a href="https://assets.ctfassets.net/v1a9n1zktijq/viSniF9o61QICkoWwpqeB/c5a7e7fd4f62247bfc01a0b1705cb303/Brochure_2020.pdf"
							class="button_link" target="blank"><button class="p-1 ml-4 mb-1">Download 2019-2020 Concert
								Series Brochure</button></a><br>
						RB Fine Arts Academy // <a href="mailto:olivia@rbcpc.org">olivia@rbcpc.org</a><br>

						</div>

			</div>








		</div>
		<div class="row" id="filler_row"></div>

		<!-- Page Nav -->

		{{!-- <div class="row">
			<div class="col">
				<div class="page_nav">
					<ul>
						<li class="active"><a href="#">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
					</ul>
				</div>
			</div>
		</div> --}}

	</div>
</div>

<!-- Quote -->

{{!-- <div class="quote">
	<div class="container">
		<div class="row">
			<div class="col">
				<div class="quote_container text-center">
					<div class="quote_quote">“Wherever the bishop appears, there let the people be, even as wheresoever
						Christ Jesus is, there is the catholic church.”</div>
					<div class="quote_icon"><img src="images/quote_2.png" alt=""></div>
					<div class="quote_source">Ignatius of Antioch</div>
				</div>
			</div>
		</div>
	</div>
</div> --}}

<script src="/js/jquery-3.2.1.min.js"></script>
<script src="js/sermons.js"></script>