<div class="container">
    <div class="row">
        <div class="col-lg-6 contact_form_col">
<div class="contact_form">
    <div class="contact_title">reserve a spot</div>

    <div class="contact_form_container">
        <form action="" method="POST">
            <div class="row">
                <div class="col-lg-6">
                    <input type="text" class="form_input" placeholder="Your First Name" required="required" name="first_name">
                </div>
                <div class="col-lg-6">
                    <input type="text" class="form_input" placeholder="Your Last Name" required="required" name="last_name">
                </div>
                <div class="col-lg-12">
                    <input type="text" class="form_input email_input" placeholder="Your Email" required="required" name="email">
                </div>
            </div>
        </form>
    </div>
</div>
        </div>
    </div>
</div>