<!-- Home -->

<div class="home">
	<div class="home_background" style="background-image:url(images/events.jpg)"></div>
	<div class="home_content">
		<div class="container">
			<div class="row">
				<div class="col d-flex flex-row align-items-center justify-content-start">
					<div class="home_title">About</div>
					<div class="breadcrumbs ml-auto">
						<ul>
							<li><a href="/home">Home</a></li>
							<li><a href="/about">About</a></li>
							<li>Services</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Blog Single -->

<div class="blog">
	<div class="container">
		<div class="row">
			<div class="col">
				<div class="blog_image mb-4">

					<video autoplay loop muted style="max-width: 100%"
						src="http://videos.ctfassets.net/v1a9n1zktijq/7CZY62SSPPWVuiBNG3CqkB/99548e31de332ad8fc46594370cdc026/0e7083887_1520485163_rb-community-church-footage-5.mp4"></video>
				</div>

				<!-- Blog Post Title -->
				{{!-- <div
					class="blog_post_title_container d-flex flex-row align-items-lg-center align-items-start justify-content-start">

				</div> --}}
				<div class="">
					<h2 class="blog_post_title">In-Person & Online Services</h2>
					{{!-- <h3 class="blog_post_quote" style="max-width: 100%; margin-bottom: 0;">Get your gift bag and
						information about our monthly dinner with the Senior
						Pastor to learn more
						about our faith family.</h3> --}}
					<div class="row">
						<div class="col-md-6 col-xs-12">
							{{!-- <br> --}}
							<h3 class="text-dark mt-3">Sunday Service Times</h3>
							<h4><strong>In-Person Worship</strong></h4>
							<p>
								9:30 AM<br>
								Sanctuary<br>
								(childcare provided)</p>

							<h4><strong>Online Worship</strong></h4>
							<p>LIVESTREAM<br>
								Sundays, 9:30 AM (<a href="https://www.youtube.com/user/rbcpccommunications" target="_blank">YouTube</a>)<br>
								CONTEMPORARY<br>
								Sundays, early AM & thereafter (<a href="https://www.facebook.com/rbcpc/" target="_blank">Facebook</a>, <a href="https://www.youtube.com/user/rbcpccommunications" target="_blank">YouTube</a>)<br>
								ONLINE WORSHIP<br>
								Sundays, early AM & thereafter (<a href="https://www.facebook.com/rbcpc/" target="_blank">Facebook</a>, <a href="https://www.youtube.com/user/rbcpccommunications" target="_blank">YouTube</a>)<br>
								(A higher quality version of last Sunday's Sanctuary worship service)
							</p>

							<h4><strong>Arabic Speaking Worship</strong></h4>
							<p>SUNDAY<br>
								11:30 AM<BR>
								Sanctuary
							</p>



						</div>
						<div class="col-md-6 col-xs-12 mt-3">
							<h3 class="text-dark">Main Campus</h3>
							<h4><strong>17010 Pomerado Road<br>San Diego, CA 92128</strong></h4><br>
							<figure><iframe
									src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d53526.147251446564!2d-117.09686638601549!3d33.02000700457734!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80dbf0dcaa082a5d%3A0xc6a8464cb158f9a6!2s17010%20Pomerado%20Rd%2C%20San%20Diego%2C%20CA%2092128!5e0!3m2!1sen!2sus!4v1566947479549!5m2!1sen!2sus"
									width="100%" height="350" allowfullscreen=""></iframe></figure>


						</div>
					</div>
					<h2 class="blog_post_title mt-4 text-center">Family Ministries</h2>
					<div class="row mt-2">
						<div class="col-md-4 col-xs-12 mb-3">
							<h3 class="text-dark text-center">NextWave</h3>
							<h4 class="text-center">(K-5)</h4>
							<p>NextWave Sunday school classes are downstairs in our main building. The emphasis is on
								Bible story-telling and Biblically based teaching. Does your child know all the books of
								the Bible? They will at Next Wave. Provided at 8:30, 10:00, and 11:30 Sunday mornings.
							</p>
						</div>
						<div class="col-md-4 col-xs-12 mb-3">
							<h3 class="text-dark text-center">MSM</h3>
							<h4 class="text-center">(Middle School)</h4>
							<p>MSM (Middle School Ministries) consists of staff and leaders who are committed to loving
								Jesus and sharing the love of Jesus with middle school students. Sunday morning
								teachings include worship in the sanctuary and teachings in the youth room. Friday
								nights are fun and designed for students to bring their friends.</p>
						</div>
						<div class="col-md-4 col-xs-12 mb-3">
							<h3 class="text-dark text-center">Highway</h3>
							<h4 class="text-center">(High School)</h4>
							<p>The Highway is an exciting and dynamic group of High School students growing in Christ
								together. Our goal is to grow students in the model of servant leadership - young men
								and women God has called them to be in Christ. Both MSM and Highway offer multiple
								retreats and mission trips throughout the year.</p>
						</div>

					</div>
				</div>
				{{!-- <div class="social_and_tags d-flex flex-lg-row flex-column align-items-start justify-content-start">
			<div class="blog_social">
				<ul>
					<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
					<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
					<li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
					<li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
					<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
				</ul>
			</div>
			<div class="blog_post_tags ml-lg-auto">
				<ul>
					<li><a href="#">faithful</a></li>
					<li><a href="#">sermon</a></li>
					<li><a href="#">news</a></li>
				</ul>
			</div>
		</div> --}}
			</div>
		</div>



	</div>
</div>



</div>

<script src="js/jquery-3.2.1.min.js"></script>
<script src="styles/bootstrap4/popper.js"></script>
<script src="styles/bootstrap4/bootstrap.min.js"></script>
<script src="plugins/easing/easing.js"></script>
<script src="plugins/parallax-js-master/parallax.min.js"></script>
<script src="plugins/colorbox/jquery.colorbox-min.js"></script>
<script src="js/blog_single.js"></script>
</body>

</html>