<div class="bg_selection">
<div class="container">
  <div class="row">
    <div class="col">
      <div class="section_title_container text-center">
        <div class="section_title mb-4">{{request}} at RB Community</div>
        {{! <div class="section_subtitle">Be part of a community of people experiencing God together.</div> }}
      </div>
    </div>
  </div>

  <div class="row pt-2 pb-3">
    <div class="col ministryTop">

      {{{header.fields.renderedHtml}}}
    </div>
  </div>
</div>
</div>