<h3 class="text-dark mt-3">Sunday Service Times</h3>
							<h4><strong>In-Person Worship</strong></h4>
							<p>
								9:30 AM<br>
								Sanctuary<br>
								(childcare provided)</p>

							<h4><strong>Online Worship</strong></h4>
							<p>LIVESTREAM<br>
								Sundays, 9:30 AM (<a href="https://www.youtube.com/user/rbcpccommunications" target="_blank">YouTube</a>)<br>
								CONTEMPORARY<br>
								Sundays, early AM & thereafter (<a href="https://www.facebook.com/rbcpc/" target="_blank">Facebook</a>, <a href="https://www.youtube.com/user/rbcpccommunications" target="_blank">YouTube</a>)<br>
								ONLINE WORSHIP<br>
								Sundays, early AM & thereafter (<a href="https://www.facebook.com/rbcpc/" target="_blank">Facebook</a>, <a href="https://www.youtube.com/user/rbcpccommunications" target="_blank">YouTube</a>)<br>
								(A higher quality version of last Sunday's Sanctuary worship service)
							</p>

							<h4><strong>Arabic Speaking Worship</strong></h4>
							<p>SUNDAY<br>
								11:30 AM<BR>
								Sanctuary
							</p>