:root {
  --color-primary: #243B28;
  --color-primary-light: #305035;
  --color-primary-dark: #19291b;
  --color-secondary: #33522E;
  --color-secondary-light: #496944;
  --color-secondary-dark: #233b1f;
  --color-tertiary: #2E523E;
  --color-tertiary-light: #4d715d;
  --color-tertiary-dark: #244231;
  --color-quaternary: #374728;
  --color-quaternary-light: #516340;
  --color-quaternary-dark: #222d18;
  --color-quinary: #28473F;
  --color-quinary-light: #476c63;
  --color-quinary-dark: #1a302a;
}

.top {
  background-image: linear-gradient(to bottom, #272f1d53 80%, #1f2517),
    /* linear-gradient(to bottom right, #dd1c36c2, #5e0c17ce), */
    url("/images/trainWeb.jpg");
  background-position: bottom;
  background-size: cover;
  height: 55vw;
  margin-top: 114px;
}

.maintainMaxWidth {
  max-width: 1170px;
  margin: auto;
  padding: 0 1rem;
}

.section {
  font-family: "PT Serif", serif;
  padding: 5rem 0;
  color: #eee;
  text-align: center;
}

.sectionHeading {
  font-size: 2rem;
  text-transform: uppercase;
  padding: 2rem 0;
  /* padding-bottom: 5rem; */
}

.xmasContainer {
  width: 100%;
  /* max-width: 1170px; */
  height: 55vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #eee;
  /* margin-top: 114px; */
  /* margin: 114px auto 0 auto; */
  margin-top: 114px;
}

.title {
  font-size: 4vw;
  font-family: "PT Serif", serif;
  text-shadow: 0 0 15px black;
  text-align: center;
}

.adventEvents {
  /* background-image: linear-gradient(to bottom, #15190f, #2a321f); */
  background-color: #1f2517;
}

.card {
  /* border: none; */
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 33rem;
  background-color: #1f2517;
}

.card__side {
  height: 33rem;
  transition: all 0.8s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 0 21px #ffdbdfaf;
}

.card__side--front {
  background-color: #eee;
}

.card__side--back {
  transform: rotateY(180deg);
  color: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card__side--back .button {
  background-color: var(--color-primary-dark);
  margin: 2.5rem;
}

.card:hover .card__side--front {
  transform: rotateY(-180deg);
}
.card:hover .card__side--back {
  transform: rotateY(0deg);
}

.card__side--back-1 {
  background-image: linear-gradient(
    to bottom right,
    var(--color-primary-light),
    var(--color-primary-dark)
  );
}

.card__side--back-2 {
  background-image: linear-gradient(
    to bottom right,
    var(--color-secondary-light),
    var(--color-secondary-dark)
  );
}

.card__side--back-3 {
  background-image: linear-gradient(
    to bottom right,
    var(--color-quaternary-light),
    var(--color-quaternary-dark)
  );
}

.card__side--back-4 {
  background-image: linear-gradient(
    to bottom right,
    var(--color-tertiary-light),
    var(--color-tertiary-dark)
  );
}

.card__side--back-5 {
  background-image: linear-gradient(
    to bottom right,
    var(--color-quinary-light),
    var(--color-quinary-dark)
  );
}

.cardWrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 3rem;
  justify-content: center;
  padding: 5rem 0;
}

.card__heading {
  position: absolute;
  top: 12rem;
  right: 1rem;
  font-size: 1.75rem;
  text-align: right;
  line-height: 1.2;
}

.card__heading span {
  padding: 0.15rem 1rem;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

.card_heading--1 span {
  background-color: var(--color-primary);
}

.card_heading--2 span {
  background-color: var(--color-secondary);
}

.card_heading--3 span {
  background-color: var(--color-quaternary);
}

.card_heading--4 span {
  background-color: var(--color-tertiary);
}

.card_heading--5 span {
  background-color: var(--color-quinary);
}

.card .card__side .card__picture {
  height: 14rem;
  background-size: cover;
  background-position: center;
  background-blend-mode: screen;
}

.card .card__side .card__picture--1 {
  background-image: linear-gradient(
      to bottom right,
      var(--color-primary-light),
      var(--color-primary-dark)
    ),
    url("http://images.ctfassets.net/v1a9n1zktijq/4JMaOvHpwtBn8pvSm1qIgR/56bbab85de17bb73f4ac48c78c378216/the_first_nowell.png");
}
.card .card__side .card__picture--2 {
  background-image: linear-gradient(
      to bottom right,
      var(--color-secondary-light),
      var(--color-secondary-dark)
    ),
    url("http://images.ctfassets.net/v1a9n1zktijq/6TMj3FNaQSbtxLxjvGAprm/e87361b8a8a104610f5b9e9f0d7c13ed/ChristmasBrunch_1920x1080.jpg");
}
.card .card__side .card__picture--3 {
  background-image: linear-gradient(
      to bottom right,
      var(--color-quaternary-light),
      var(--color-quaternary-dark)
    ),
    url("https://images.ctfassets.net/v1a9n1zktijq/6dCmv6e4Y4XwaNu8UMjDEX/a20ca6daec6b72b3b65076a1c62f94ff/blueChristmasWeb.jpg");
}
.card .card__side .card__picture--4 {
  background-image: linear-gradient(
      to bottom right,
      var(--color-tertiary-light),
      var(--color-tertiary-light)
    ),
    url("http://images.ctfassets.net/v1a9n1zktijq/705vis77Un12igRzhkAJn7/0b1b07f43b2d76939703bfbc6d3c520a/pageant.jpg");
}
.card .card__side .card__picture--5 {
  background-image: linear-gradient(
      to bottom right,
      var(--color-quinary-light),
      var(--color-quinary-dark)
    ),
    url("https://images.ctfassets.net/v1a9n1zktijq/3wuUhukI35gRpnjBXuCyYo/050aff2d7e7868f92c29cabd06e4960a/nativity.jpg");
}

.card__details {
  margin: 1rem;
  padding: 1rem;
}

.card__details,
.card__details p {
  color: rgb(22, 22, 22);
  text-align: left;
  font-size: 16px;
}

.event_icon {
  margin: 0.3rem 0.25rem 0.3rem 0;
}

.description {
  margin-top: 1rem;
  padding-top: 1rem;
  border-top: 1px rgb(214, 214, 214) solid;
}

.sundaySeries {
  background-image: linear-gradient(to bottom, #1f2517, transparent 10%),
    url("/images/sundaySeries.jpg");
  background-position: bottom;
  background-size: cover;
  padding: 9rem 0;
}

.makeRightColumn {
  margin-right: 50%;
  background-color: rgba(20, 20, 20, 0.774);
  padding: 0 1.5rem 2rem 1.5rem;
  border-radius: 6px;
}

.sundayTimes {
  font-size: 20px;
  /* padding: 2rem 0; */
  padding-bottom: 2rem;
  margin-top: -1rem;
}

.sundaySeries p {
  font-family: "PT Serif", serif;
  color: #eee;
  font-weight: 700;
  text-align: left;
}

.christmasEve {
  background-color: var(--color-quaternary);
  background-image: linear-gradient(to bottom, var(--color-primary), var(--color-primary-dark)),
    url("/images/xmasEve.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.christmasEve p {
  font-family: "PT Serif", serif;
  color: #eee;
  font-weight: 700;
  max-width: 50rem;
  margin: auto;
}

.topBox {
  background-color: var(--color-primary-dark);
  padding: 0 3rem 2rem 3rem;
  width: fit-content;
  margin: auto;
  border-radius: 6px;
}

.eveServiceWrapper {
  padding: 3rem 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 2rem;
  font-size: 16px;
}

.eveService {
  background-color: rgba(241, 241, 241, 0.977);
  border-radius: 6px;
  padding: 2rem 1rem;
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 0.2s;
  box-shadow: 0 0 5px #111;
}

.eveService:hover {
  transform: scale(1.03) translateY(-0.33rem);
}

.eveService .Title {
  font-size: 1.5rem;
  font-weight: 700;
}

.eveService .Time {
  font-size: 1.2rem;
  padding-bottom: 1rem;
}

.eveService img {
  /* font-weight: 700; */
  height: 4rem;
  margin-bottom: 1rem;
}

#oneColumn {
  columns: 1 !important;
  -webkit-columns: 1 !important;
  -moz-columns: 1 !important;
  margin-top: 15px !important;
}

/* RESPONSIVE */

@media only screen and (max-width: 900px) {
  .title {
    font-size: 2.5rem;
    padding: 0 2rem;
  }

  .makeRightColumn {
    margin-left: unset;
    margin-top: 800px;
  }

  .card {
    height: auto;
    background-color: #eee;
  }

  .card__side {
    height: auto;
    position: relative;
  }

  .card__side--back {
    transform: rotateY(0);
  }

  .card:hover .card__side--front {
    transform: rotateY(0);
  }
}

@media only screen and (max-width: 600px) {
  .title {
    font-size: 1.75rem;
  }
}
