<div
    style="box-shadow: 5px black; z-index: 999; border-radius: 10px; padding: 2rem; position: absolute; top: 15vh; right: 1rem; background-color: #327091; padding: .5rem; text-align: center; color: rgb(230, 230, 230); font-size: 130%">
    <a style="color: rgb(238, 238, 238);" href="/easter">Click here for<br> our Holy Week <br> Schedule</a>
</div>